/// Mixin helper to stylized `main` div in extra small size
@mixin main-xs {
    float:       right;
    width:       calc(100% - #{map-get($sidebar, xlg-screen-width)});
}

@mixin customized-main-xs {
    position: relative;
    width: 1000px;
    left: 500px;
}

/// Mixin helper to stylized `main` div in small size
@mixin main-sm {
    margin-left: 350px;
    width:       calc(100% - 350px);
}

/// Mixin helper to stylized `main` div in medium size
@mixin main-md {
    margin-left: 350px;
    width:       calc(100% - 350px);
}

/// Mixin helper to stylized `main` div in large size
@mixin main-lg {
    margin-left: calc(100% - 450px - 350px);
    width:       900px;
}

/// Mixin helper to push `main` div from medium sidebar size
@mixin main-pushed-md {
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, md-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

/// Mixin helper to push `main` div from large sidebar size
@mixin main-pushed-lg {
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, lg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

/// Mixin helper to push `main` div from extra large sidebar size
@mixin main-pushed-xlg {
    &.pushed {
        @include prefix(transform, translate3d(#{map-get($sidebar, xlg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}
