<div class="cookie-popup" id="cookie-popup">
  <div class="cookie-popup__container">
    <div class="cookie-popup__text">
      Na stronie używane są pliki cookies, dzięki którym blog może działać lepiej. Możesz je wyłączyć w swojej
      przeglądarce.
      <a href="https://kernelgonnapanic.pl/polityka-cookies.html">Więcej&nbsp;informacji</a>
    </div>
    <div id="cookie-accept-btn" class="cookie-popup__button">
      Akceptuję
    </div>
  </div>
</div>