<div id="overlay"></div>
<div id="fb-modal" class="fb-modal">
  <div id="closeBtn" class="fb-modal__close">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div id="fb-modal-text" class="fb-modal__text">
    <div class="fb-modal__intro">Cześć!</div>
    Dołącz do mnie na Facebooku, bym mogła dać Ci znać o każdym najnowszym poście i
    byśmy wspólnie rozwijali się jako programiści :)
    <br />
    Miłego czytania!
  </div>
  <div class="fb-page fb-modal__widget" data-href="https://www.facebook.com/kernelgonnapanic/" data-small-header="false"
    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/kernelgonnapanic/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kernelgonnapanic/">kernelgonnapanic.pl</a></blockquote>
  </div>
</div>