.fb-modal {
  padding: 15px;
  margin: 0 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 550px;
  border-radius: 1%;
  background-color: #fff;
  z-index: 200;
  position: fixed;
  display: flex;
  flex-direction: column;
  display: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (max-width: 600px) {
    right: 10px;
    left: 10px;
    transform: none;
    top: 35px;
  }

  .fb-modal__text {
    text-align: center;
    padding-bottom: 15px;

    .fb-modal__intro {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .fb-modal__widget {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__close {
    display: flex;
    justify-content: flex-end;
  }
}
